@media (max-width: 1500px) {
    .container main section {
        height: auto;
    }

    .container main section#opis1 {
        gap: 4rem;
    }

    .container main section#opis1 .text-ops {
        width: 100%;
    }

    .container main section#opis2 {
        gap: 4rem;
    }

    .container main section#opis2 .land-cont .text-ops {
        width: 100%;
    }

    .container main section#opis3 {
        gap: 4rem;
    }

    .container main section#opis3 .text-op-2 {
        width: 100%;
    }

    .container main section#opis4 {
        gap: 4rem;
    }

    .container main section#opis4 .text-op-2 {
        width: 100%;
    }

    .container main section#opis5 {
        gap: 4rem;
    }

    .container main section#opis5 .text-ops {
        width: 100%;
    }

    .container main section#opis6 {
        height: auto;
    }

    .container main section#opis6 .map-place {
        width: 80%;
    }

    .container main section#opis6 .map-place-img {
        width: 80%;
    }

    .container main section#opis7 .ciekw-place {
        width: 100%;
    }

    .container main section#opis7 .ciekw-place .ckw-cont {
        width: 90%;
    }

}

@media (max-width: 1300px) {
    .container main section {
        height: auto;
    }

    .container main section#opis1 {
        gap: 4rem;
        padding: 30px 0px 30px 0px;
        position: relative;
        height: auto;
    }

    .container main section#opis1 .text-ops {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    
    .container main section#opis1 .text-ops .text-p {
        width: 70%;
    }

    .container main section#opis1 .text-ops .img-p {
        width: 60%;
    }

    .container main section#opis1 .text-ops .img-p img {
        height: 220px;
    }

    .container main section#opis2 .text-ops {
        align-items: center;
    }

    .container main section#opis3 .text-op-2 {
        align-items: center;
    }

    .container main section#opis4 .text-op-2 {
        align-items: center;
    }

    .container main section#opis5 .text-ops {
        align-items: center;
    }

    .container main section#opis6 .text-ops {
        align-items: center;
    }

    .container main section#opis7 .text-ops {
        align-items: center;
    }

    .container main section#opis2 {
        gap: 4rem;
        position: relative;
        height: auto;
        padding: 30px 0px 40px 0px;
    }

    .container main section#opis2 .land-cont .text-ops {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .container main section#opis2 .land-cont .text-ops .text-p {
        width: 70%;
    }
    
    .container main section#opis3 {
        gap: 4rem;
        position: relative;
        height: auto;
        padding: 30px 0px 40px 0px;
    }

    .container main section#opis3 .text-op-2 {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .container main section#opis3 .text-op-2 .texte-p-2 {
        width: 70%;
    }

    .container main section#opis3 .text-op-2 .imgs-op-2 {
        width: auto;
    }

    .container main section#opis3 .text-op-2 .imgs-op-2 img {
        height: 240px;
    }

    .container main section#opis4 {
        gap: 4rem;
        position: relative;
        height: auto;
        padding: 30px 0px 40px 0px;
    }

    .container main section#opis4 .text-op-2 {
        width: 100%;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .container main section#opis4 .text-op-2 .texte-p-2 {
        width: 70%;
    }
    .container main section#opis4 .text-op-2 .imgs-op-2 {
        width: auto;
    }

    .container main section#opis4 .text-op-2 .imgs-op-2 img {
        height: 240px;
    }


    .container main section#opis5 {
        gap: 4rem;
        position: relative;
        height: auto;
        padding: 30px 0px 60px 0px;
    }

    .container main section#opis5 .text-ops {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .container main section#opis5 .text-ops .text-p {
        width: 70%;
    }

    .container main section#opis5 .text-ops .img-p {
        width: 60%;
    }

    .container main section#opis5 .text-ops .img-p img {
        height: 230px;
    }

    .container main section#opis6 {
        height: auto;
        position: relative;
        height: auto;
        padding: 30px 0px 40px 0px;
    }

    .container main section#opis6 .map-place {
        width: 90%;
    }

    .container main section#opis6 .map-place-img {
        width: 90%;
    }

    .container main section#opis7 .ciekw-place {
        width: 100%;
    }

    .container main section#opis7 .ciekw-place .ckw-cont {
        width: 96%;
    }

    .container main section#opis7 .ciekw-place .ckw-cont .texte-p-3 {
        width: 55%;
    }

    .container main section#opis7 .ciekw-place .ckw-cont .imgs-op-3 {
        width: 35%;
    }
}

@media (max-width: 950px) {

    .container main section#baner {
        padding: 30px 0px 0px 0px;
        gap: 4rem;
    }

    .container main section#baner .md-by-mk {
        flex-direction: column;
        gap: 1rem;
    } 

    .container main section#baner .md-by-mk .autor {
        gap: 5px;
    }

    .container main section#baner .md-by-mk .autor img {
        height: 110px;
    }

    .container main section#opis6 {
        height: auto;
        overflow-y: scroll;
        padding: 30px 0px 40px 0px;
    }

    .container main section#opis6 .map-place {
        width: 95%;
    }

    .container main section#opis6 .map-place-img {
        width: 90%;
        grid-template-columns: auto;
    }

    .container main section#opis7 .ciekw-place {
        width: 100%;
    }

    .container main section#opis7 .ciekw-place .ckw-cont {
        width: 96%;
        flex-direction: column;
    }

    .container main section#opis7 .ciekw-place .ckw-ct-rveres {
        flex-direction: column-reverse;
    }

    .container main section#opis7 .ciekw-place .ckw-cont .texte-p-3 {
        width: 80%;
    }

    .container main section#opis7 .ciekw-place .ckw-cont .imgs-op-3 {
        width: 70%;
    }

    .container main section#opis7 .ciekw-place .ckw-cont .imgs-op-3 img {
        height: 220px;
        width: auto;
    }
    
}

@media (max-width: 600px) {
    .container main section {
        height: auto;
    }

    .container main section#opis1 {
        gap: 4rem;
        overflow-y: scroll;
        padding: 30px 0px 10px 0px;
    }

    .container main section#opis1 .text-ops {
        width: 100%;
        flex-direction: column;
        gap: 3rem;
    }

    .container main section#opis1 .text-ops .text-p {
        width: 85%;
    }

    .container main section#opis1 .text-ops .img-p {
        width: 80%;
    }

    .container main section#opis1 .text-ops .img-p img {
        height: 220px;
    }

    .container main section#opis2 {
        gap: 4rem;
        overflow-y: scroll;
        padding: 30px 0px 40px 0px;
    }

    .container main section#opis2 .land-cont .text-ops {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .container main section#opis2 .land-cont .text-ops .text-p {
        width: 85%;
    }

    .container main section#opis3 {
        gap: 4rem;
        overflow-y: scroll;
        padding: 30px 0px 40px 0px;
    }

    .container main section#opis3 .text-op-2 {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .container main section#opis3 .text-op-2 .texte-p-2 {
        width: 85%;
    }

    .container main section#opis3 .text-op-2 .imgs-op-2 {
        width: 80%;
    }

    .container main section#opis3 .text-op-2 .imgs-op-2 img {
        height: 220px;
    }

    .container main section#opis4 {
        gap: 4rem;
        overflow-y: scroll;
        padding: 30px 0px 40px 0px;
    }

    .container main section#opis4 .text-op-2 {
        width: 100%;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .container main section#opis4 .text-op-2 .texte-p-2 {
        width: 85%;
    }

    .container main section#opis4 .text-op-2 .imgs-op-2 {
        width: 80%;
    }

    .container main section#opis4 .text-op-2 .imgs-op-2 img {
        height: 220px;
    }

    .container main section#opis5 {
        gap: 4rem;
        overflow-y: scroll;
        padding: 30px 0px 60px 0px;
    }

    .container main section#opis5 .text-ops {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .container main section#opis5 .text-ops .text-p {
        width: 85%;
    }

    .container main section#opis5 .text-ops .img-p {
        width: 80%;
    }

    .container main section#opis5 .text-ops .img-p img {
        height: 220px;
    }

    .container main section#opis6 {
        height: auto;
        overflow-y: scroll;
        padding: 30px 0px 40px 0px;
    }

    .container main section#opis6 .map-place {
        width: 95%;
    }

    .container main section#opis6 .map-place-img {
        width: 90%;
        grid-template-columns: auto;
    }

    .container main section#opis7 .ciekw-place {
        width: 100%;
    }

    .container main section#opis7 .ciekw-place .ckw-cont {
        width: 96%;
        flex-direction: column;
    }

    .container main section#opis7 .ciekw-place .ckw-ct-rveres {
        flex-direction: column-reverse;
    }

    .container main section#opis7 .ciekw-place .ckw-cont .texte-p-3 {
        width: 80%;
    }

    .container main section#opis7 .ciekw-place .ckw-cont .imgs-op-3 {
        width: 70%;
    }

    .container main section#opis7 .ciekw-place .ckw-cont .imgs-op-3 img {
        height: 220px;
        width: auto;
    }

}